.App {
  text-align: center;
  height: 100vh;
  background-color: #EEEEEE;
}

.titulo-app{
  text-transform: uppercase;
}

.bloque-resultados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

